<h1> <b> Pandas </b> </h1>

In [1]:
# Install Pandas 
!pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp314-cp314-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in d:\code it python\venv\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\code it python\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in d:\code it python\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\code it python\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp314-cp314-win_amd64.whl (11.1 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, pandas

   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   ---------------------------------------- 2/2 [pandas]

Successfully installed pandas-2.3.3 pytz-2025.2

In [2]:
# import pandas 
import pandas as pd

In [ ]:
# Pandas Uses 
it is one of the most used library in python.
it is used for extract, transform and load (ETL) of Data 
it is also used  for EDA (Exploratory Data Analysis) 
it is fast and simple to learn

In [ ]:
# Data Structes in Pandas 
# series (similar to one D array) 
declared with pd.Series() 
# dataframe (similar to 2D Array) 
declared with pd.DataFrame() 
all the csv, excel , json file that is load in  to the pandas are stored as dataframe by default
# Pandel (similar to 3d Array)
Beyod the syllabus

<h2> <b> Series in Pandas </b> </h2>

In [8]:
pd.Series(range(16,34,3))

0    16
1    19
2    22
3    25
4    28
5    31
dtype: int64

In [4]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
import numpy as np

In [7]:
np.array(range(1,10))

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

<h2> <b> DataFrame </b> </h2>

In [13]:
pd.DataFrame(range(16,52,3), columns=["my col"])

    my col
0       16
1       19
2       22
3       25
4       28
5       31
6       34
7       37
8       40
9       43
10      46
11      49

<h2> <b> Reading Files </b> </h2>

In [18]:
!pip install openpyxl # install this module to read excel files in  pandas

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   ---------------------------------------- 0/2 [et-xmlfile]
   ---------------------------------------- 0/2 [et-xmlfile]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [ ]:
excel file is read using pd.read_excel(file_path)

In [19]:
# read an excel file 
data = pd.read_excel(r"E:\Power BI Files\sample_data.xlsx")

In [20]:
data

    SN  PID   UNIT PRICE   ITEMS SOLD   DISCOUNT
0    1  1001          294          952        0.2
1    2  1002          319          510        0.2
2    3  1003          226          830        0.2
3    4  1004          378          850        0.2
4    5  1005          274          753        0.2
5    6  1006          326          818        0.2
6    7  1007          287          945        0.2
7    8  1008          382          720        0.2
8    9  1009          271          660        0.2
9   10  1010          283          579        0.2
10  11  1011          394          845        0.2
11  12  1012          388          971        0.2
12  13  1013          323          901        0.2
13  14  1014          331          841        0.2
14  15  1015          366          693        0.2
15  16  1016          263          635        0.2
16  17  1017          254          724        0.2
17  18  1018          282          660        0.2
18  19  1019          215          766        0.2
19  20  1020          294          719        0.2

<h2> <b> Read CSV File </b> </h2>

In [ ]:
In order to read and load csv file we do it by pd.read_csv(file_path)

In [23]:
df = pd.read_csv(r"D:\power bi data\ecommerce_sales_power_bi_project\Ecommerce_Sales_Dashboard_PowerBI-main\Orders.csv")

In [24]:
df

    Order ID  Order Date CustomerName             State     City
0    B-26055  10-03-2018    Harivansh     Uttar Pradesh  Mathura
1    B-25993  03-02-2018       Madhav             Delhi    Delhi
2    B-25973  24-01-2018  Madan Mohan     Uttar Pradesh  Mathura
3    B-25923  27-12-2018        Gopal       Maharashtra   Mumbai
4    B-25757  21-08-2018     Vishakha    Madhya Pradesh   Indore
..       ...         ...          ...               ...      ...
495  B-25742  03-08-2018       Ashwin               Goa      Goa
496  B-26088  26-03-2018       Bhavna            Sikkim  Gangtok
497  B-25707  01-07-2018      Shivani       Maharashtra   Mumbai
498  B-25758  22-08-2018      Shubham  Himachal Pradesh    Simla
499  B-26095  28-03-2018      Monisha         Rajasthan   Jaipur

[500 rows x 5 columns]

In [ ]:
# json file # (tomorrows class json file  )

In [ ]:
# "Indexing , filtering and sortin data

# Data Preview

In [ ]:
# head() 
# tail () 
# info() 
# describe() 
# columns()

In [25]:
# head() returns first five rows of the data frame 
data.head()

   SN  PID   UNIT PRICE   ITEMS SOLD   DISCOUNT
0   1  1001          294          952        0.2
1   2  1002          319          510        0.2
2   3  1003          226          830        0.2
3   4  1004          378          850        0.2
4   5  1005          274          753        0.2

In [26]:
data.head(2) # returns first two rows of data frame

   SN  PID   UNIT PRICE   ITEMS SOLD   DISCOUNT
0   1  1001          294          952        0.2
1   2  1002          319          510        0.2

In [27]:
# tail() returns last five rows of dataframe 
data.tail()

    SN  PID   UNIT PRICE   ITEMS SOLD   DISCOUNT
15  16  1016          263          635        0.2
16  17  1017          254          724        0.2
17  18  1018          282          660        0.2
18  19  1019          215          766        0.2
19  20  1020          294          719        0.2

In [28]:
# data.tail(2) returns last two rows of dataset 
data.tail(2)

    SN  PID   UNIT PRICE   ITEMS SOLD   DISCOUNT
18  19  1019          215          766        0.2
19  20  1020          294          719        0.2

In [29]:
# info() 
data.info() # retuns col name, non-null count and data type of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SN           20 non-null     int64
 1   PID          20 non-null     int64
 2   UNIT PRICE   20 non-null     int64
 3   ITEMS SOLD   20 non-null     int64
 4   DISCOUNT     20 non-null     float64
dtypes: float64(1), int64(4)
memory usage: 932.0 bytes

In [30]:
# describe() returhs max, min, and other stats values of numeric colm in dataframe 
data.describe()

             SN        PID   UNIT PRICE   ITEMS SOLD      DISCOUNT
count  20.00000    20.00000    20.000000    20.000000  2.000000e+01
mean   10.50000  1010.50000   307.500000   768.600000  2.000000e-01
std     5.91608     5.91608    53.164591   126.532459  2.847662e-17
min     1.00000  1001.00000   215.000000   510.000000  2.000000e-01
25%     5.75000  1005.75000   273.250000   684.750000  2.000000e-01
50%    10.50000  1010.50000   294.000000   759.500000  2.000000e-01
75%    15.25000  1015.25000   339.750000   846.250000  2.000000e-01
max    20.00000  1020.00000   394.000000   971.000000  2.000000e-01

In [32]:
# columns() # returns name of column in form of list 
data.columns

Index(['SN', 'PID ', 'UNIT PRICE ', 'ITEMS SOLD ', 'DISCOUNT '], dtype='object')

In [33]:
data.size # returns the number of rows in the dataframe

100

In [ ]:
# Indexing , Filtering , Slicing

<h2> <b> Filtering </b> </h2>

In [34]:
data

    SN  PID   UNIT PRICE   ITEMS SOLD   DISCOUNT
0    1  1001          294          952        0.2
1    2  1002          319          510        0.2
2    3  1003          226          830        0.2
3    4  1004          378          850        0.2
4    5  1005          274          753        0.2
5    6  1006          326          818        0.2
6    7  1007          287          945        0.2
7    8  1008          382          720        0.2
8    9  1009          271          660        0.2
9   10  1010          283          579        0.2
10  11  1011          394          845        0.2
11  12  1012          388          971        0.2
12  13  1013          323          901        0.2
13  14  1014          331          841        0.2
14  15  1015          366          693        0.2
15  16  1016          263          635        0.2
16  17  1017          254          724        0.2
17  18  1018          282          660        0.2
18  19  1019          215          766        0.2
19  20  1020          294          719        0.2

In [36]:
data.columns

Index(['SN', 'PID ', 'UNIT PRICE ', 'ITEMS SOLD ', 'DISCOUNT '], dtype='object')

In [37]:
# filter all the data whose unit price > 200 
con = data['UNIT PRICE '] > 300

In [38]:
data[con]

    SN  PID   UNIT PRICE   ITEMS SOLD   DISCOUNT
1    2  1002          319          510        0.2
3    4  1004          378          850        0.2
5    6  1006          326          818        0.2
7    8  1008          382          720        0.2
10  11  1011          394          845        0.2
11  12  1012          388          971        0.2
12  13  1013          323          901        0.2
13  14  1014          331          841        0.2
14  15  1015          366          693        0.2

In [39]:
# multiple condition 
# slect unit price > 300 and items sold >500 
con1= data['UNIT PRICE ']>300
con2 = data['ITEMS SOLD ']>500

In [40]:
data[con1 & con2]

    SN  PID   UNIT PRICE   ITEMS SOLD   DISCOUNT
1    2  1002          319          510        0.2
3    4  1004          378          850        0.2
5    6  1006          326          818        0.2
7    8  1008          382          720        0.2
10  11  1011          394          845        0.2
11  12  1012          388          971        0.2
12  13  1013          323          901        0.2
13  14  1014          331          841        0.2
14  15  1015          366          693        0.2

In [43]:
# OR Condition 
# slect unit price > 300 or items sold >500 
data[con1 | con2] # or '|' (pipe sign)

    SN  PID   UNIT PRICE   ITEMS SOLD   DISCOUNT
0    1  1001          294          952        0.2
1    2  1002          319          510        0.2
2    3  1003          226          830        0.2
3    4  1004          378          850        0.2
4    5  1005          274          753        0.2
5    6  1006          326          818        0.2
6    7  1007          287          945        0.2
7    8  1008          382          720        0.2
8    9  1009          271          660        0.2
9   10  1010          283          579        0.2
10  11  1011          394          845        0.2
11  12  1012          388          971        0.2
12  13  1013          323          901        0.2
13  14  1014          331          841        0.2
14  15  1015          366          693        0.2
15  16  1016          263          635        0.2
16  17  1017          254          724        0.2
17  18  1018          282          660        0.2
18  19  1019          215          766        0.2
19  20  1020          294          719        0.2

In [44]:
# Not Conditon 
# select all the data where state is not equal to uttar prades

    Order ID  Order Date CustomerName             State     City
0    B-26055  10-03-2018    Harivansh     Uttar Pradesh  Mathura
1    B-25993  03-02-2018       Madhav             Delhi    Delhi
2    B-25973  24-01-2018  Madan Mohan     Uttar Pradesh  Mathura
3    B-25923  27-12-2018        Gopal       Maharashtra   Mumbai
4    B-25757  21-08-2018     Vishakha    Madhya Pradesh   Indore
..       ...         ...          ...               ...      ...
495  B-25742  03-08-2018       Ashwin               Goa      Goa
496  B-26088  26-03-2018       Bhavna            Sikkim  Gangtok
497  B-25707  01-07-2018      Shivani       Maharashtra   Mumbai
498  B-25758  22-08-2018      Shubham  Himachal Pradesh    Simla
499  B-26095  28-03-2018      Monisha         Rajasthan   Jaipur

[500 rows x 5 columns]

In [45]:
con = df['State']!='Uttar Pradesh'

In [46]:
df[con]

    Order ID  Order Date CustomerName             State     City
1    B-25993  03-02-2018       Madhav             Delhi    Delhi
3    B-25923  27-12-2018        Gopal       Maharashtra   Mumbai
4    B-25757  21-08-2018     Vishakha    Madhya Pradesh   Indore
6    B-25955  16-01-2018        Shiva       Maharashtra     Pune
7    B-26093  27-03-2018       Sarita       Maharashtra     Pune
..       ...         ...          ...               ...      ...
495  B-25742  03-08-2018       Ashwin               Goa      Goa
496  B-26088  26-03-2018       Bhavna            Sikkim  Gangtok
497  B-25707  01-07-2018      Shivani       Maharashtra   Mumbai
498  B-25758  22-08-2018      Shubham  Himachal Pradesh    Simla
499  B-26095  28-03-2018      Monisha         Rajasthan   Jaipur

[475 rows x 5 columns]

In [53]:
# in 
# select all the values from city 'Pune' and 'Simla' 
con =['Simla', 'Pune']
# data['city'] ='Pune' | data['city'] ='Simla' ] 
df[df['City'].isin(con)]

    Order ID  Order Date CustomerName             State   City
6    B-25955  16-01-2018        Shiva       Maharashtra   Pune
7    B-26093  27-03-2018       Sarita       Maharashtra   Pune
9    B-25602  01-04-2018       Vrinda       Maharashtra   Pune
13   B-25997  04-02-2018       Yogesh       Maharashtra   Pune
20   B-25830  26-10-2018       Aastha  Himachal Pradesh  Simla
22   B-25686  11-06-2018        Pooja  Himachal Pradesh  Simla
31   B-25909  13-12-2018        Sujay       Maharashtra   Pune
40   B-25842  02-11-2018      Sheetal       Maharashtra   Pune
45   B-26048  04-03-2018        Parth       Maharashtra   Pune
47   B-25656  11-05-2018     Priyanka       Maharashtra   Pune
50   B-25779  12-09-2018         Savi       Maharashtra   Pune
60   B-25836  29-10-2018         Arti       Maharashtra   Pune
64   B-25964  20-01-2018        Oshin       Maharashtra   Pune
85   B-25728  22-07-2018      Ameesha       Maharashtra   Pune
104  B-25638  26-04-2018        Parth       Maharashtra   Pune
122  B-25764  28-08-2018      Sanjova       Maharashtra   Pune
148  B-25848  03-11-2018        Rohan  Himachal Pradesh  Simla
160  B-25710  05-07-2018        Megha       Maharashtra   Pune
174  B-25962  19-01-2018    Tejeswini       Maharashtra   Pune
189  B-25614  13-04-2018      Vandana  Himachal Pradesh  Simla
206  B-25854  08-11-2018      Shubham       Maharashtra   Pune
252  B-26087  26-03-2018      Vandana  Himachal Pradesh  Simla
259  B-26030  21-02-2018       Sarita       Maharashtra   Pune
295  B-25620  20-04-2018       Sarita       Maharashtra   Pune
307  B-25794  24-09-2018       Aditya  Himachal Pradesh  Simla
313  B-25944  10-01-2018         Syed       Maharashtra   Pune
315  B-26024  19-02-2018      Vandana  Himachal Pradesh  Simla
330  B-25948  13-01-2018       Mukund       Maharashtra   Pune
361  B-25668  24-05-2018         Rhea  Himachal Pradesh  Simla
362  B-25800  01-10-2018        Ishit       Maharashtra   Pune
399  B-25746  10-08-2018       Shivam       Maharashtra   Pune
403  B-26066  16-03-2018     Priyanka       Maharashtra   Pune
426  B-25938  05-01-2018      Shikhar  Himachal Pradesh  Simla
441  B-25866  16-11-2018        Komal  Himachal Pradesh  Simla
446  B-25722  17-07-2018   Inderpreet  Himachal Pradesh  Simla
457  B-26042  28-02-2018       Manish  Himachal Pradesh  Simla
460  B-26075  21-03-2018        Pearl       Maharashtra   Pune
479  B-26012  13-02-2018        Pearl       Maharashtra   Pune
486  B-25632  25-04-2018       Manish  Himachal Pradesh  Simla
488  B-25674  28-05-2018       Mahima       Maharashtra   Pune
498  B-25758  22-08-2018      Shubham  Himachal Pradesh  Simla

In [55]:
# not in (~) 
df['City'].unique()

array(['Mathura', 'Delhi', 'Mumbai', 'Indore', 'Prayagraj', 'Pune',
       'Hyderabad', 'Surat', 'Ahmedabad', 'Patna', 'Simla', 'Chandigarh',
       'Bhopal', 'Thiruvananthapuram', 'Kohima', 'Udaipur', 'Bangalore',
       'Lucknow', 'Chennai', 'Kolkata', 'Kashmir', 'Jaipur', 'Amritsar',
       'Goa', 'Gangtok'], dtype=object)

In [56]:
# Select all the cities excel ['Delhi', 'Mumbai', 'Indore']

In [59]:
df[~df['City'].isin( ['Delhi', 'Mumbai', 'Indore'])] # this expn selects all the cities excepet delhi ,mumbai and indore

    Order ID  Order Date CustomerName             State       City
0    B-26055  10-03-2018    Harivansh     Uttar Pradesh    Mathura
2    B-25973  24-01-2018  Madan Mohan     Uttar Pradesh    Mathura
5    B-25967  21-01-2018       Sudevi     Uttar Pradesh  Prayagraj
6    B-25955  16-01-2018        Shiva       Maharashtra       Pune
7    B-26093  27-03-2018       Sarita       Maharashtra       Pune
..       ...         ...          ...               ...        ...
494  B-25788  21-09-2018       Dinesh        Tamil Nadu    Chennai
495  B-25742  03-08-2018       Ashwin               Goa        Goa
496  B-26088  26-03-2018       Bhavna            Sikkim    Gangtok
498  B-25758  22-08-2018      Shubham  Himachal Pradesh      Simla
499  B-26095  28-03-2018      Monisha         Rajasthan     Jaipur

[338 rows x 5 columns]

<h2> <b> Slicing </b> </h2>

In [60]:
data.columns

Index(['SN', 'PID ', 'UNIT PRICE ', 'ITEMS SOLD ', 'DISCOUNT '], dtype='object')

In [64]:
data[['PID ', 'UNIT PRICE ']]

    PID   UNIT PRICE
0   1001          294
1   1002          319
2   1003          226
3   1004          378
4   1005          274
5   1006          326
6   1007          287
7   1008          382
8   1009          271
9   1010          283
10  1011          394
11  1012          388
12  1013          323
13  1014          331
14  1015          366
15  1016          263
16  1017          254
17  1018          282
18  1019          215
19  1020          294

In [68]:
# loc() , 'l' for label 
data.loc[1:10, ['PID ','UNIT PRICE ']] # returns row index 1 to 10 , and columm names (pid ,and unit price)

    PID   UNIT PRICE
1   1002          319
2   1003          226
3   1004          378
4   1005          274
5   1006          326
6   1007          287
7   1008          382
8   1009          271
9   1010          283
10  1011          394

In [75]:
# iloc() , 'i' for index 
data.iloc[:, 3:5]

    ITEMS SOLD   DISCOUNT
0           952        0.2
1           510        0.2
2           830        0.2
3           850        0.2
4           753        0.2
5           818        0.2
6           945        0.2
7           720        0.2
8           660        0.2
9           579        0.2
10          845        0.2
11          971        0.2
12          901        0.2
13          841        0.2
14          693        0.2
15          635        0.2
16          724        0.2
17          660        0.2
18          766        0.2
19          719        0.2

In [71]:
data.loc[0:5, ['PID ','UNIT PRICE ']]

   PID   UNIT PRICE
0  1001          294
1  1002          319
2  1003          226
3  1004          378
4  1005          274
5  1006          326